This is an application for use in a golf simulator play environment. It is about giving helpful tools to calculate
distances etc. Always when I talk about "ball", "swing", "club" I mean "golf ball", "golf swing", "golf club",
"golf hole", "golf course" where it makes sense